/*------ Settings ------*/
.button_theme {
  --color: #a5a5b0 !important;
  --size: 30px !important;
  display: flex !importrant;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  cursor: pointer !important;
  font-size: var(--size) !important;
  user-select: none !important;
  fill: var(--color) !important;
}

.button_theme .moon {
  position: absolute;
  animation: keyframes-fill .5s;
}

.button_theme .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.button_theme input:checked ~ .moon {
  display: none;
}

.button_theme input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.button_theme input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}
